---
import Layout from "../layout.astro";
---

<Layout>
  <h1>Main page</h1>
  <p>
    This is the main page. Try changing the theme below. It even works without
    JavaScript!
  </p>
  <a href="/subpage">Go to subpage</a>
</Layout>
