---
import Layout from "../layout.astro";
---

<Layout>
  <h1>Subpage</h1>
  <p>
    The theme persists across pages when using JavaScript. Without JavaScript,
    the theme resets.
  </p>
  <a href="/">Go to main page</a>
</Layout>
